head
  block head
    meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    base(href='/')
    title Demo Heims frontend
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/flat-ui.css')
    link(rel='stylesheet', href='/css/extra/modal/component.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='js/modernizr.custom.js')