extends ../layouts/print

append styles
  link(rel='stylesheet', href='http://#{headers.host}/css/bootstrap.min.css')
block body
  .print-tpl.row
    .offset1.span9
      header
        .row
          .pull-right
            h2 !{facility.name}
            h4 !{facility.address}
            h4 !{facility.phone_number}
        .row
          p 
      .content
        .source-html
        hr(style="margin: 50px 0")
      footer