#modal-1.md-modal.md-effect-1(ng-class="[modal.modalState, modal.class]")
  .md-content
      h3 {{modal.heading}}
      div
        p {{modal.body}}

        button.md-close(ng-click="modal.modalState = false") Close
        button(ng-click="commons.href('/')") Dashboard