#modal-order-supplied.modal.hide.fade.alt-text(data-backdrop="static")
    .modal-header
        div(style="float: left;width: 60%;display: inline-block;")
          form(style="margin-bottom: 0")
            label.lister(for="supplier") Choose Supplier
            input.input-medium(type="text", name="supplier", order-supplier-type-ahead)
        div(style="float: left;width: 40%;display: inline-block;")
          h5 Notify supplier by
          dl.dl-horizontal
            dt(style="text-align: left")
              span
                | <i class="fa fa-envelope-o " >  SMS</i>
            dd
              input(type="checkbox", ng-disabled="!printOrderToSupplier.phoneNumber && !printOrderToSupplier.isRequesting", style="margin: 0", ng-model="check_send_sms")
              span.label.label-success(ng-show="sms_is_sent") Sent
            hr(style="margin: 3px 0")
            dt(style="text-align: left")
              span
                | <i class="fa fa-at" > Email</i>
            dd
              input(type="checkbox", ng-disabled="!printOrderToSupplier.email", style="margin: 0")

        .clearfix
    .modal-body.purchase-order(ng-show="selectedCart.length && printOrderToSupplier")
      h3(style="text-decoration: underline; text-align: center") Purchase Order

      address
        | <strong> {{printOrderToSupplier.supplierName}} </strong><br>
        | {{printOrderToSupplier.address}}<br>
        | {{printOrderToSupplier.email}}<br>
        | {{printOrderToSupplier.phoneNumber}}<br>

      div.date-field
        span {{selectedCart[0].orderDate | date:'short'}}

        #print-table-cart.table-content
          table#list-cart.table.table-fixed-header
            thead.header
              tr
                th Item
                th Quantity
                th UnitPrice (N)
            tbody
              tr(ng-repeat="or in selectedCart")
                td {{or.itemName}}
                td {{or.orderAmount}}
                td {{or.orderPrice}}




    .modal-footer
      button.btn.btn-default(new-modal="#modal-order-supplied") Back
      button.btn(ng-class="saveButtonClass", ng-click="print_purchase_order('.purchase-order')", ng-disabled="!printOrderToSupplier._id")
        | <i class="fa fa-print" > Print</i>
      button.btn.btn-large.pull-right.btn-success(ng-click="placeOrder()", ng-disabled="!printOrderToSupplier._id || cart_is_checkedout || is_not_ds_order") Place Order