#modal-request-stock-down.modal.hide.fade.alt-text(data-backdrop="static")
    .modal-header
        h3 Request Stock
      .modal-body
        form.new-stock-down
          .control-group
            label.control-label Location
            select(ng-model="requestform.location", ng-options="l.locationName for l in locations")
          .control-group
              label.control-label Dispense
              .controls
                  input.input-xlarge(type="text",ng-model="form.itemname", type-ahead, th-name="itemname", selected-item="selectedItem")
                  button.btn.btn-warning.pull-right(type="button", ng-click="addDrug()", style="position: relative;left: -53px;top: 5px;") {{addButtonText}}
                  span.help-block {{addHelpText}}
          table.table.drugs-list.table-fixed-header(ng-show="requestform.request.length > 0")
            thead.header
              tr
                th Drug Name
                th Stock
                th Amount
                th
            tbody
              tr(data-ng-repeat="(i,drugs) in requestform.request")
                td {{requestform.request[$index].itemName}}
                td {{requestform.request[$index].currentStock}}
                td
                  .control-group(ng-class="{ error: requestform.request[$index].amount > requestform.request[$index].currentStock }")
                    input.input-small(ng-model="requestform.request[$index].amount",placeholder="amount", type="number")
                td
                  i.icon-remove.pull-right(ng-click="removeDrug($index)")

      .modal-footer
        button.btn.btn-default(new-modal="#modal-request-stock-down") Back
        button.btn(ng-click="createPoint()",ng-init="saveButtonText='Send Request'", ng-class="saveButtonClass") {{saveButtonText}}
