extends layouts/default

block body
  div#wrap(ng-view)
  div.md-overlay(ng-class="modal.state.overlay")
  div.notification-bar.navbar.navbar-fixed-top(ng-class="notification.type", ng-show="notification.message.length > 0", style="z-index: 99999")
    .navbar-inner
        p.navbar-text
          i.fa(ng-class="notification.icon")
          span(ng-bind-html="notification.message")


