doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml',ng-app="integraApp")
  include ../includes/head
  body.palette.palette-clouds(ng-controller='MainController')
    block mainbody
        include ../includes/header
        block body

        include ../includes/footer
        include ../includes/foot
