link(rel='stylesheet', href='/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/css/flat-ui.css')
link(rel='stylesheet', href='/css/extra/modal/component.css')
link(rel='stylesheet', href='/css/font-awesome.min.css')
link(rel='stylesheet', href='/css/app.css')
script(src='js/modernizr.custom.js')
.palette.palette-midnight-blue(ng-controller='MainController')
  block body

